@charset "utf-8";
*{
	font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
}
body{
	margin:0px;
	padding:0px;
	background-color: #fdfcf0;
	font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
}

ul{
	list-style:none;
}
a{
	text-decoration:none;
}
h2{
	font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 8px;
    font-size: 30px;
}
.title-line{
	border-bottom: 2px solid #50c5ff;
    margin-bottom: 15px;
}
.descrip{
	background: url(../img/icon/bg_h3_line.jpg) repeat-x scroll left center rgba(0, 0, 0, 0);
    height: 60px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
	}

.event{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.model1{
	max-height: 100%;
	max-width: 100%;
}


