.main-admin{
	width: 80%;
}
label, input{
    font-size: 14px;
}
th, td{
	font-size: 14px;
}
.btn{
	font-size: 14px!important;
}
.form-control, .form-control-file{
    font-size: 14px!important; 
    width: 600px!important;
    height: 40px!important;
 }
textarea{
	font-size: 14px!important; 
}
.product_img_150_100{
    width: 150px;
  }
.card-header, .card-title{
	font-size: 14px!important;
}
.card-header{
	background-color: green!important;
}